.li_pokemon_card_container {
    box-shadow: rgb(0 0 0 / 30%) 1px 3px 12px 0px;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    animation-name: InitAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: unset;
}

.span_pokemon__id {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(23, 23, 27, 0.6);
}

.h4_pokemon__name {
    font-size: 2.5rem;
    color: #fff;
    line-height: 45px;
    text-transform: capitalize;
}

.p_pokemon__information {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #fff;
}

.button_pokemon_card {
    padding: 6px 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #fff;
}

.ul_types__container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.div_right_side_container {
    display: flex;
    align-items: center;
}

.svg__pokeball {
    height: 114px;
    width: 114px;
}

.svg__pokeball>path {
    fill: rgba(255, 255, 255, 0.2);
}

.img__pokemon {
    position: absolute;
    height: 180px;
    width: 180px;
    right: 20px;
    top: -30px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4));
}


@media(max-width: 1023px) {
    .h4_pokemon__name {
        font-size: 2rem;
    }

    .svg__pokeball {
        height: 80px;
        width: 80px;
    }

    .img__pokemon {
        height: 150px;
        width: 150px;
        top: -20px;
        right: 0;
    }
}

@media(max-width: 380px) {
    .li_pokemon_card_container {
        padding: 10px;
    }

    .span_pokemon__id {
        font-size: 1rem;
    }

    .h4_pokemon__name {
        font-size: 1.4rem;
        line-height: initial;
    }

    .svg__pokeball {
        height: 50px;
        width: 50px;
    }

    .img__pokemon {
        height: 100px;
        width: 100px;
        top: -5px;
        right: 0;
    }
}

@keyframes InitAnimation {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}