.input_filter__container {
    border-radius: 10px;
    outline: none;
    background-color: #fff;
    font-size: 1.2rem;
    text-align: center;
    height: 60px;
    padding: 0px 20px;
    border: none;
    width: 100%;
}